.hero {
    background: url('../assets/hero-image.jpg');
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
}

.foundations {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(218, 206, 206, 0.63);
}

.foundations > h1 {
    padding: 40px 0 30px;
}

.foundations-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 95%;
}

.foundation-item {
    background-color: white;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    max-width: 200px;
    min-height: 150px;
    border-radius: 5px;
}

.explore-container {
    position: relative;
}

.explore-container > img {
    width: 100%;
    height: 400px;
    color: white;
}

.explore-container > h2 {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 15%;
    left: 30%;
    text-shadow: 2px 2px 2px black;
}

.community {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.community > div > h1 {
    padding: 30px;
}

.community-2 {
    display: flex;

}

.community-2 > div {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}


.community-2 > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(234, 232, 232, 0.5);
    padding: 30px;
    gap: 40px;
}

.community-2 > div > div:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.community-2 img {
    width: 400px;
    height: 300px;
}

button {
    background-color: blue;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 10px;
    border-radius: 30px;
    font-size: 12px;
}

.donwload-div {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
}

.donwload-div > div {
    display: flex;
    gap: 30px;
}

.paralallax-2 {
    display: flex;
    position: relative;
    height: 350px;
    background-image: url('../assets/partners-banner.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.paralallax-2-content h1 {
    font-size: 40px;
    padding: 30px;
}

.paralallax-2-content > div {
    display: flex;
    justify-content: space-evenly;
    gap: 70px;
}

.paralallax-2-content > div div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.paralallax-2-content > div div p {
    font-weight: bolder;
}

.paralallax-2-content > div div img {
    width: 100px;
}



